<!DOCTYPE html>

<html lang="en">
<head>
	<% if (photo) { %>
		<% var photo = photo; %>
	<% } else { %>
		<% var photo = ''%>
	<% } %>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/style.css">
	<title><%= title %></title>
</head>

<body>
	<div id="nav">
		<a href="/myrecipes/<%= username %>">My Recipes</a>
		<a href="/logout">Logout</a>
	</div>
	
	<form name="newrecipe" action="/submit" method="POST" autocomplete="off">	
		<div id="dishname">
			DISH: <input type="text" name="dishname" placeholder="Name your dish." required/>	
		</div>

		<div id="date">
			DATE: <input type="date" name="date" value='<%= date %>' required/>
		</div>
		
		<div id="recipeholder">
			RECIPE:
			<div id="recipetext">
				<textarea name="recipetext" placeholder="Enter the recipe."></textarea>
			</div>
		</div>

		<div id="notesholder">
			NOTES: 
			<div id="notes">
				<textarea name="notes" placeholder="What did you change? How did it taste?"></textarea>
			</div>
		</div>
		
		<div id="submit">
			<input type="submit" value="SAVE RECIPE">
		</div>

	</form>
	<div id="photoholder">	
		<form method="POST" action="/upload/photo" enctype="multipart/form-data">
			PHOTO: <input id="photoupload" type="file" name="file" method="POST" >
			<input id="photosubmit" type="submit" value="Upload">
		</form>
		<div id="photo">
			<img src="<%= photo %>">
		</div>
	</div>
</body>
</html>